
body, html, #root {
height: 100vh;
}


.main {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
  background: #FFFFFF;
  height: 100vh;
  margin: 0 auto;
  
}

@keyframes openDown {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
  
}