.error{
    max-width: 100%;
    height: 800px;
    top: 160px;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-style: normal;
    background: #FFFFFF;
    color: #FF6060;
    text-align: center;

    &__number {
    height: 263px;
    top: 277px;
    font-weight: 700;
    font-size: 288px;
    line-height: 411px;    
    }
    &__text{
    height: 51px;
    top: 606px;
    font-weight: 500;
    font-size: 36px;
    line-height: 51px;
    
    }
    &__link{
    top: 839px;
    height: 26px;
    font-weight: 500;
    font-size: 18px;
    line-height: 51px;
        a{
            color: #FF6060;
        }
    }
}